{% extends "base.html" %}
{% block content %}
    {% if form.errors %}
        <p class="error">Sorry , that's not a valid username or password</p>
    {% endif %}

    <form action="/posts/auth/" method="post">{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login"/>
    </form>

{% endblock %}

{% block Menu %}
    {% if not user.is_authenticated %}
      <li>  <a href="/posts/login">Login</a> </li>
      <li>  <a href="/posts/register/">Register</a></li>
    {% endif %}

{% if user.is_authenticated %}
        <li><a href="/posts">Main</a></li>
        <li><a href="#">My profile</a></li>
        <li><a href="/posts/logout">logout</a></li>
    {% endif %}
{% endblock %}
