<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
    {% load staticfiles %}
<link href="{% static "favicon.ico" %}" rel="icon" type="image/x-icon" />
    <!-- Latest compiled and minified CSS -->
 <link media="screen" href="{% static "bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "usebootstrap.css" %}" rel="stylesheet">
{#   <link rel="stylesheet" href="{% static "usebootstrap.css" %}"/>#}
{#    <link rel="stylesheet" href="theme/bootstrap.css" media="screen">#}
{#    <link rel="stylesheet" href="theme/usebootstrap.css">#}
    <title> {% block head_title %} Welcome to my blog {% endblock %} </title>
</head>

<body style="margin-top: 20px">

    <nav id="top-menu-wrap" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            {% block Menu %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
        </div>
    </nav>

{% block ALL %}

<div class="container">

{% block blog_post %}

    <div class="col-md-8">

          {% block header %}
          {% endblock %}

   <div class="well">
        <div  id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    </div>
{% endblock %}

{% block vertical_row %}
        <div class="col-md-3" >
        {% block vertical_navbar %}
        {% endblock %}
        </div>
{% endblock %}

</div>
{% endblock %}
</body>
</html>