{% extends 'base.html' %}

{% block title %} Welcome to my blog {% endblock %}


{% block content %}

    <p>
        {% for post in posts %}
            <a href='{{ post.get_absolute_url }}'> <h3><b> {{ post.title }}</b></h3>
            </a>
                    {{ post.timestamp | date:"N d, Y" }} |  Author: {{ post.author }} | Categories:
                         {% for category in post.categories.all %}
                            {% if forloop.counter >= 2 %}  |{% endif %}
                                <a href='{{ category.get_absolute_url }}'> {{ category.title }}</a>
                         {% endfor %}

                        <p>{{ post.content }}</p>


                        <br><br>

             {% endfor %}
    </p>

{% endblock %}

{% block vertical_navbar %}
                <div class="well">
                  <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                             {% if category %}
                                <ul class="list-unstyled">
                                    {% for category in category %}
                                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                                    {% endfor %}
                                </ul>
                             {% else %}
                                <p>There are no posts.</p>
                             {% endif %}
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <div class="well">
                    <h4>Posts</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if posts %}
                                <ul class="list-unstyled">
                                    {% for post in posts %}
                                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>There are no posts.</p>
                            {% endif %}
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                    <!-- Side Widget Well -->
                <div class="well">
                    <h4><b class="text-primary">About Authors</b></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

{% endblock %}
